<nav class="navbar grid-x large-12 bg-dark-sombre">
    <div class="navbar-logo large-6">
        <span class="navbar-logo-letter">FizzUp</span>
        {# <img class="navbar-logo-img" src="{{ absolute_url(asset('/build/images/bolt-solid.png'))}}" alt="logo"> #}
    </div>
    <div class="navbar-menu large-6">
        <ul class="navbar-menu-ul">
            <li>
                <a href="{{ path('admin') }}" class="navbar-menu-ul-btn-connect">
                    Mon compte
                </a>
            </li>

            {# <li>
                <div class="navbar-menu-ul-hamburger" id="openNavFx">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </li> #}
        </ul>
    </div>
</nav>