{% extends 'base.html.twig' %}

{% block title %}Apprend-Elec{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block contenu %}
<!--Top of page-->
<div class="home large-12" id="myOverlay">
    <div class="home-flex">
        <div class="home-flex-title">

            <h1 class="home-flex-title-big">Formulaire d'avis de produit !</h1>

            <div class="home-flex-title-subTitle">Juste ici</div>

            {% if message is defined %}
                <div class="message-defile text-center">
                    <div>
                        {{ message }}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</div>

        {# <form class="large-12 medium-12 small-12 grid-x text-center" action="{{ path('contact') }}" method="post">

            <div class="large-6 medium-6 small-6 padding-15 text-left">
                <label class="label-contact" for="name">Nom :</label>
                <input type="text" id="name" name="user_name" placeholder="Votre Nom">
            </div>
            <div class="large-6 medium-6 small-6 padding-15 text-left">
                <label class="label-contact" for="mail">E-mail&nbsp;:</label>
                <input type="email" id="mail" name="user_mail" placeholder="Veuillez entre votre adresse mail pour avoir une réponse">
            </div>
            <div class="large-12 medium-12 small-12 padding-15 text-left">
                <label class="label-contact" for="msg">Message :</label>
                <textarea id="msg" name="user_message" placeholder="Veuillez entre votre message"></textarea>
            </div>

            <div class="large-12 medium-12 small-12">
                <button class="button-submit" type="submit">Envoyer le message</button>
            </div>

        </form> #}

</div>

{% endblock %}
