{% extends 'base.html.twig' %}

{% block title %}Apprend-Elec{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block contenu %}
<!--Top of page-->
<div class="home large-12" id="myOverlay">
    <div class="home-flex">
        <div class="home-flex-title">

            <h1 class="home-flex-title-big">Formulaire d'avis de produit !</h1>

            <a class="home-flex-title-subTitle" href="{{ path('formulaire') }}">Juste ici</div>

            {% if message is defined %}
                <div class="message-defile text-center">
                    <div>
                        {{ message }}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}
