<footer class="footer grid-x large-12">
    <div class="footer-ml large-6 medium-6 small-6">
        <a href="{{ path('ml') }}" class="footer-ml-lien">Mentions légales</a>
    </div>
    <div class="footer-contact large-6 medium-6 small-6">
        <a href="/#contactez-moi" class="footer-contact-lien">Contact</a>
    </div>
</footer>